{
	"box1": {
		"active": true,
		"pin_controller": "/dev/serial/by-id/usb-1a86_USB2.0-Serial-if00-port0",
		"pin_power": 2,
		"pin_fan": 13,
		"time_powerup_wait": 2,
		"time_poweroff_delay": 300,
		"boards": {
			"rpi4_0": {
				"active": true,
				"type": "rpi4",
				"jtag_minimodule_serialnumber": "FT1OSM9B",
				"serial_device": "/dev/serial/by-id/usb-FTDI_FT2232H_MiniModule_FT1OSM9B-if01-port0",
				"pin_reset": 8,
				"ethernet_mac": "dc:a6:32:15:e1:0d",
				"ethernet_tftpboot": "02e1b72a"
			},
			"rpi3_0": {
				"active": true,
				"type": "rpi3",
				"jtag_minimodule_serialnumber": "FT0ULYQA",
				"serial_device": "/dev/serial/by-id/usb-FTDI_FT2232H_MiniModule_FT0ULYQA-if01-port0",
				"pin_reset": 5,
				"ethernet_mac": "b8:27:eb:ae:84:9b",
				"ethernet_tftpboot": "79ae849b"
			},
			"rpi3_1": {
				"active": true,
				"type": "rpi3",
				"jtag_minimodule_serialnumber": "FT0V2AMU",
				"serial_device": "/dev/serial/by-id/usb-FTDI_FT2232H_MiniModule_FT0V2AMU-if01-port0",
				"pin_reset": 6,
				"ethernet_mac": "b8:27:eb:3e:32:b9",
				"ethernet_tftpboot": "ce3e32b9"
			},
			"rpi3_2": {
				"active": true,
				"type": "rpi3",
				"jtag_minimodule_serialnumber": "FT1OSQAT",
				"serial_device": "/dev/serial/by-id/usb-FTDI_FT2232H_MiniModule_FT1OSQAT-if01-port0",
				"pin_reset": 4,
				"ethernet_mac": "b8:27:eb:64:8f:61",
				"ethernet_tftpboot": "7c648f61"
			},
			"rpi3_3": {
				"active": true,
				"type": "rpi3",
				"jtag_minimodule_serialnumber": "FT1OSIJR",
				"serial_device": "/dev/serial/by-id/usb-FTDI_FT2232H_MiniModule_FT1OSIJR-if01-port0",
				"pin_reset": 7,
				"ethernet_mac": "b8:27:eb:c4:ba:86",
				"ethernet_tftpboot": "83c4ba86"
			},
			"rpi2_0": {
				"active": true,
				"type": "rpi2",
				"jtag_minimodule_serialnumber": "FTXK0VDJ",
				"serial_device": "/dev/serial/by-id/usb-FTDI_FT2232H_MiniModule_FTXK0VDJ-if01-port0",
				"pin_reset": 3,
				"ethernet_mac": "b8:27:eb:ba:2f:58",
				"ethernet_tftpboot": "08ba2f58"
			}
		}
	},
	"box2": {
		"active": true,
		"boards": {
			"lpc11c24_0": {
				"active": true,
				"type": "lpc11c24",
				"jtag_cmsisdap_serialnumber": "12032018",
				"serial_device": "/dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_F0AF-if00-port0"
			},
			"lpc11c24_1": {
				"active": true,
				"type": "lpc11c24",
				"jtag_cmsisdap_serialnumber": "01005022",
				"serial_device": "/dev/serial/by-id/usb-NXP_Semiconductors_LPC11U3x_CMSIS-DAP_v1.0.7_01005022-if01"
			}
		}
	}
}


