{
	"Box1": {
		"pin_controller": "/dev/serial/by-id/usb-1a86_USB2.0-Serial-if00-port0",
		"pin_power": 2,
		"pin_fan": 13,
		"time_powerup_wait": 2,
		"time_poweroff_delay": 300,
		"boards": {
			"RPi3_0": {
				"Type": "RPi3",
				"JTAG_UART_Serial": "FT0ULYQA",
				"pin_reset": 5,
				"MAC": "b8:27:eb:ae:84:9b",
				"TFTBOOT": "79ae849b"
			},
			"RPi3_1": {
				"Type": "RPi3",
				"JTAG_UART_Serial": "FT0V2AMU",
				"pin_reset": 6,
				"MAC": "b8:27:eb:3e:32:b9",
				"TFTBOOT": "ce3e32b9"
			},
			"RPi3_2": {
				"Type": "RPi3",
				"JTAG_UART_Serial": "FT1OSQAT",
				"pin_reset": 4,
				"MAC": "b8:27:eb:64:8f:61",
				"TFTBOOT": "7c648f61"
			},
			"RPi2_0": {
				"Type": "RPi2",
				"JTAG_UART_Serial": "FTXK0VDJ",
				"pin_reset": 3,
				"MAC": "b8:27:eb:ba:2f:58",
				"TFTBOOT": "08ba2f58"
			}
		}
	}
}


